<?xml version='1.0' encoding='utf-8'?>
<widget id="com.veterinaria.patitasfelices" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Patitas Felices</name>
    <description>Aplicación móvil para la gestión de la clínica veterinaria Patitas Felices</description>
    <author email="admin@clinica.com" href="https://patitasfelices.com">
        Clínica Veterinaria Patitas Felices
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />
    <allow-navigation href="*" />
</widget>
